<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Yelp Camp</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel='stylesheet' href='/stylesheets/app.css'>
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    </head>
    <body>

    <nav id='navbarMain' class='navbar navbar-default'>
        <div class='container-fluid'>
            <!-- That one is on left side, usually logo/name -->
            <div class='navbar-header'>
                <a class='navbar-brand' href='/campgrounds'>YelpCamp</a>
            </div>
            <!--   -->
            <div class='collapse navbar-collapse'>
                <!-- Those *3* classes make a top right (navbar-left for left) navbar options -->
                <ul class='nav navbar-nav navbar-right'>
                    <!-- Here is logic to make right a tags appear depending on session status -->
                    <% if(!currentUser){ %>
                        <li><a href='/login'>Login</a></li>
                        <li><a href='/register'>Sign Up</a></li>
                    <% }
                      else{ %>
                        <li><a href='#'>Currently signed in as <%= currentUser.username %></a></li>
                        <li><a href='/logout'>Log Out</a></li>
                    <% } %>
                </ul>
            </div>
        </div>
    </nav>
   