<% include ./partials/header  %>
<div class='container'>
    <header class='jumbotron authForm'>
        <h1>Sign up</h1>

        <form action='/register' method='POST'>
            <p><input required class='form-control' name='username' type='text' placeholder='username'></p>
            <p><input required class='form-control' name='password' type='password' placeholder='password'></p>
            <p><button class='btn btn-success btn-block'>Register!</button></p>
        </form>
    </header>

<!-- <a class='btn btn-primary btn-md' href='/campgrounds' id='addBackBtn'>Go back</a> -->
</div>
<% include ./partials/footer  %>